body {
    background-image: radial-gradient(ellipse at center, #0602003a, #14100d6c);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


header {
    background-color: #010101;
    color: white;
    padding: 10px 0;
    text-align: center;
}
nav ul li a {
    background-color: white;
    color: #0b0a0a;
   
    text-decoration: none;
    border-radius: 5px;
}

footer {
    
    text-align: center;
    padding: 10px 0;
    color: #0d0000
}
div.box{display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 40px;
justify-content: center;
}





.accion img{display: flex;
height: 150px;
width: 250px;
flex-direction: row;
flex-wrap: wrap;
border-radius: 20px;
}

.romance img{display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 150px;
    border-radius: 20px;
    width: 250px;
    }

.aventura img{display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 150px;
    width: 250px;
    border-radius: 20px;}

.terror img{display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 150px;
    width: 250px;
    border-radius: 20px;}

.comedia img{display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 150px;
    width: 250px;
    border-radius: 20px;}