
*{box-sizing: border-box;}
body {
    background-image: radial-gradient(ellipse at center, #0602003a, #14100d6c);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-image:radial-gradient(ellipse at center, #4d4847, #0a0500ce);
    padding: 35px 0;
    text-align: center;
    box-shadow: 0 0 20px rgba(150, 144, 144, 0.3);
    border-radius: 10px;
    border: 1px solid #747070;
}

main{
    padding: 20px;
}

img {
    width: 25%; 
    height: 200px; 
}

footer {
background-color: #120d0D;
color: white;
text-align: center;
padding: 10px 0;
}

.data-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.data-item{
    width: calc(20% - 20px);
    margin-bottom: 20px;
}

.data-item img{
    max-width: 100%;
    height: 300px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 0 10px, rgba(0, 0, 0, 0.3);
    transition: 0.2s;
}

.data-item img:hover{
    transform: scale(1.05);
}

.data-item h3{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
    color:  rgb(16, 1, 1);
}

.data-item p{
    font-size: 14px;
    color: #0a0000;
    margin: 0;
}

article{display: flex;
flex-wrap: wrap;
flex-direction: row;}

@media screen and (max-width: 750px) {
    .footer{
        height: initial;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .data-item{
      width: 50%;
      height: auto;
      gap: 10px;
      margin: 10x;
    }

    }

@media screen and (max-width: 450px) {
	header .logotipo {
		margin-bottom: 10px;
		font-size: 30px;
	}

	title{
		flex-direction: column;
		text-align: center;
	}

	.img {
		idth: 50;
        height: auto;
	}

	.data-item {
		max-width: 50%;
        height: auto;
	}
}
