body {
    background: radial-gradient(ellipse at center, #ead6d2, #eaddc9);
}

header {
    background-color: #010101;
    color: white;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
}

footer {
    background-color: #120d0d;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.data-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.data-item {
    width: calc(20% - 20px);
    margin-bottom: 20px;
}

.data-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s;
}

.data-item img:hover {
    transform: scale(1.05);
}

.data-item h3 {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: rgb(16, 1, 1);
}

.data-item p {
    font-size: 14px;
    color: #0a0000;
    margin: 0;
}

.data-item img{
    width: auto;
    height: 200px;
}

@media screen and (max-width: 450px) {
	header .logotipo {
		margin-bottom: 10px;
		font-size: 30px;
	}

	title{
		flex-direction: column;
		text-align: center;
	}

	.img {
		width: 50;
        height: auto;
	}

	.data-item {
		max-width: 50%;
        height: auto;
	}
}