
body {
    background-image: radial-gradient(ellipse at center, #0602003a, #14100d6c);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-image:radial-gradient(ellipse at center, #4d4847, #0a0500ce);
    padding: 35px 0;
    text-align: center;
    box-shadow: 0 0 20px rgba(150, 144, 144, 0.3);
    border-radius: 10px;
    border: 1px solid #747070;
}

nav ul li a {
    background-color: white;
    color: #0b0a0a;
   
    text-decoration: none;
    border-radius: 5px;
}
.pelis img{display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 150px;
    width: 250px;
    border-radius: 20px;
}

.pelis{display: flex;
gap:30px;
justify-content: center;
text-decoration: none;}

div {align-items: center;}

div .box a{text-decoration: none;
color: rgb(63, 63, 63);}

footer {
    background-color: #120d0d;
    color: white;
    text-align: center;
    padding: 10px 0;
}


