*{box-sizing: border-box;}

body {
    background-color: #b5c0e4;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-color: #0c001f;
    padding: 35px 0;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #040000;
    box-shadow: #304074;
}

main {
    padding: 20px;
    color: #0c001f;
}

footer {
    background-color: #0c001f;
    text-align: center;
    padding: 10px 0;
    color: #fcfbfb
}

.add-favorite:active{transform: scale(0.9);
transition: .2s;}

.data-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.data-item {
    width: calc(20% - 20px);
    margin-bottom: 20px;
}

.data-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(40, 27, 78, 0.973);
    transition: transform 0.2s;
}

.data-item img:hover {
    transform: scale(1.05);
}

.data-item h3 {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #0c001f
}

.data-item p {
    font-size: 14px;
    color: #0c001f;
    margin: 0;
}

nav ul li a {
    color: #fbf9f9;
    padding: 10px 20px;
    border-radius: 5px;
}


.detalle-pelicula1 img {
    max-height: 42%;
    max-width: 43%;
    padding: 10px;
    transition: transform 0.2s;
}

.detalle-pelicula1 img:hover {
    transform: scale(1.05);
}

.detalle-pelicula1 iframe {
    max-height: 60%;
    max-width: 58%;
    padding: 10px;
    padding-left: 80px;
    padding-top: 10px;
    transition: transform 0.2s;
}

.detalle-pelicula1 iframe:hover {
    transform: scale(1.05);
}

.detalle-serie1 img:hover {
    transform: scale(1.05);
}
.detalle-serie1 img {
    max-height: 50%;
    max-width: 50%;
    transition: transform 0.2s;
}

.search-form {
    text-align: center;
}

.search-form button {
    margin-top: 0px;
}

.nav-container {
    text-align: center;
}

.nav-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-list li {
    margin: 0 10px;
}

.nav-list li a {
    text-decoration: none;
    padding: 6px 15px;
    border: 1px solid #000;
    border-radius: 0px;
    background-color: #f8f2f2;
    color: #060000;
}

.nav-list1 {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
    
.nav-list1 li {
    margin: 0 10px;
}
    
.nav-list1 li a {
    text-decoration: none;
    padding: 6px 15px;
    border: 1px solid #000;
    border-radius: 0px;
    background-color: #060606;
    color: #fff;
}

@media(max-width:500px){
    .header{
    
    flex-wrap: wrap;
    justify-content: center;}

   body{
        height: initial;
        flex-wrap: wrap;
        justify-content: center;

       }
    img{
        
      width: 100%;
        height: initial;
        flex-wrap: wrap;
        justify-content: center;
        
       } 
    }

@media (max-width:750px){
    .data-item{
        width:50%;
        height: auto;
    }
}

.add-favorite {
    background-color:#adbae4;
    color: #000;
    border: 1px solid #6d7eb4;
    border-radius: 10px;
    margin-top: 10px;
}
